/* @override 
	http://sodacreates.co.uk/styles/ie6.css
*/

section#content.body.arrows {
	display: none;
}

#posts-list li {
	float: left;
	width: 820px;
}

div#coda-nav-right-1.coda-nav-right {
	display: none;
}

section#content.body, section#content.body.arrows {
	width: 820px;
	margin: 0px;
	padding: 0px;
	border-top: 8px solid #222221;
}

div.entry-header {
	display: none;
}

ol#posts-list.hfeed.coda-slider-wrapper {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

div#easteregg-btn {
	display: none;
}

section#ie6.body {
	float: left;
	width: 820px;
	border-right: 8px solid #222221;
	border-left: 8px solid #222221;
	background-color: #fff;
}

div#ie6-warning.body {
	background-color: red;
	padding: 20px 100px;
	color: #fff;
	font-size: 14px;
	line-height: 1.8em;
}

div#ie6-intro {
	padding: 20px 100px;
}

#ie6-intro p {
	font-family: "deva-ideal-1","deva-ideal-2", helvetica, arial, sans-serif;
	font-size: 20px;
	line-height: 1.3em;
	margin-bottom: 16px;
}

#ie6-intro h1 {
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", georgia, serif;
	font-size: 24px;
	line-height: 36px;
	color: #e10073;
	margin: 0 0 0.5em 0;
}

a, a:visited {
	color: #fff;
	font-family: inherit;
	outline: none;
}

a:hover {
	color: #e2f173;
}

a:active, a:focus {
	position: relative;
	top: 1px;
	color: #e10073;
}

div#coda-nav-left-1.coda-nav-left {
	display: none;
}

div#contactbtn {
	display: none;
}

section#contentinfo {
	padding: 20px 100px 10px 100px;
	background-color: #b3c624;
	background-image: none;
	position: relative;
	clear: left;
	overflow: hidden;
	float: left;
}

section#contentinfo.body {
	width: 620px;
	float: none;
}

div#mailinglistsignup {
	margin: 0;
	padding: 0;
	position: relative;
	float: left;
}

form#newsletter.validate {
	margin-top: 10px;
}

#calltoaction p {
	display: inline;
	margin-right: 5px;
	color: #fff;
}

section#featured {
	display: none;
}

div#lolly-bottom {
	background: url(../images/site-graphics/lolly-bottom.png) no-repeat center bottom;
	height: 50px;
	position: relative;
}

#lolly-bottom img {
	display: none;
}

section#address {
	padding: 20px 100px 10px 100px;
	background-color: #b3c624;
	background-image: none;
	position: relative;
	clear: left;
	overflow: hidden;
}