/* @override 
	http://www.sodacreates.co.uk/styles/main.css
	http://dev.sodacreates.co.uk/styles/main.css
	http://sodacreates.co.uk:8888/styles/main.css
*/

/* CSS Document
2010 SODA
CSS for Soda 
Help yourself!
*/

/* Colours for site
SODA rhodamine red #e10073
SODA green #b3c624
SODA light grey #e6e6e6
SODA dark grey #4c4646

*/

@import url('/styles/reset.css');

/* @group HTML5 reset */

section, article, header, footer, nav, aside, hgroup {
	display: block;
}

/* @end */

/* @group Layout */

body#index.home {
	margin: 0;
	padding: 0;
	background: #4c4c4c url('/images/site-graphics/soda-bgnd-tile.png') -10%;
	font-family: "deva-ideal-1","deva-ideal-2", helvetica, arial, sans-serif;
	position: relative;
}

#wrapper {
	margin: 0 auto;
	width: 836px;
	overflow: hidden;
	padding-bottom: 165px;
	background: url(../images/site-graphics/lolly-stick.png) no-repeat center bottom;
}

div#branding {
	clear: both;
	padding: 20px 100px;
	position: relative;
}

div#casestudies {
	float: left;
	margin-bottom: 20px;
	padding: 0px 90px;
}

#casestudies h1 {
	background: url(../images/site-graphics/heading_ourmostrecentwork.gif) no-repeat 9px center;
	text-indent: -9999em;
	margin-bottom: 5px;
}

#banner img {
	float: left;
}

header#banner.body {
	float: left;
	margin-top: 30px;
}

img.strapline {
	position: absolute;
	bottom: 23px;
	right: 100px;
}

section.body {
	border-right: 8px solid #222221;
	border-left: 8px solid #222221;
}

section#content.body {
	background-color: #fff;
	padding: 0px 0 20px 0;
	float: left;
	position: relative;
}

section#contact {
	padding: 20px 100px 10px 100px;
	position: relative;
	overflow: hidden;
	background: #b3c624 url(../images/site-graphics/highlight-main.png) repeat-y 29px;
}

section#address {
	padding: 20px 100px 10px 100px;
	background: #b3c624 url(../images/site-graphics/highlight-main.png) repeat-y 29px;
	position: relative;
	clear: left;
	overflow: hidden;
}

section#contentinfo {
	padding: 20px 100px 10px 100px;
	background: #b3c624 url(../images/site-graphics/highlight-main.png) repeat-y 29px;
	position: relative;
	clear: left;
	overflow: hidden;
}

section#featured {
	padding: 20px 100px 72px;
	background: #b3c624 url(../images/site-graphics/highlight-main.png) repeat-y 29px;
	position: relative;
	clear: left;
	overflow: hidden;
}

div#lolly-bottom {
	background: url(../images/site-graphics/lolly-bottom.png) no-repeat center bottom;
	height: 50px;
	position: relative;
	width: 100%;
	float: left;
}

#lolly-bottom img {
	position: absolute;
	left: 37px;
}

div#hide {
	float: left;
	width: 100%;
}

#newsletter fieldset label span {
	display: none;
}

div.info {
	width: 400px;
}

div#calltoaction {
	float: left;
	width: 400px;
	margin-top: 0.5em;
}

div#mailinglistsignup {
	position: relative;
	float: left;
}

.tooltip {
	background: transparent url(/images/site-graphics/tooltip_bgnd_down.png) no-repeat;
	font-size: 0.8em;
	height: 70px;
	width: 160px;
	padding: 32px 25px 25px 25px;
	color: #fff;
}


#fb-soda .fb_edge_widget_with_comment.fb_iframe_widget {
	position: absolute;
	height: 80px;
	width: 52px;
	left: 10px;
	top: 10px;
	background-color: RGBa(202,201,203,0.6);
	padding: 10px;
	padding-bottom: 20px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.6);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.6);
	z-index: 1001;
}

#banner .fb_edge_widget_with_comment.fb_iframe_widget {
	position: absolute;
	height: 60px;
	width: 50px;
	left: 23px;
	bottom: 100px;

}

/* @group Gallery */

	div.gallery ul {
		list-style: none;
}

/* @end */

/* @end */

/* @group Links */

a, a:visited {
	color: #5d4c40;
	border: none;
	outline: none;
	font-family: inherit;
}

a:hover {
	color: #e2f173;
}

a:active, a:focus {
	position: relative;
	top: 1px;
	color: #e10073;
	outline: none;
}


#info a, #info a:visited {
	color: #ffffff;
	border: none;
	outline: none;
	font-family: inherit;
}

#info a:hover {
	color: #4c4646;
}

#info a:active, #info a:focus {
	position: relative;
	top: 1px;
	color: #4f6320;
	outline: none;
}

#cs_copy a, #cs_copy a:visited {
	color: #e10073;
	border: none;
	outline: none;
}

#cs_copy a:hover {
	color: #4c4646;
}

#cs_copy a:active, #cs_copy a:focus {
	position: relative;
	top: 1px;
	color: #4f6320;
	outline: none;
}

div#easteregg-btn {
	position: absolute;
	right: 6%;
	top: -33px;
	z-index: 1;
	height: 76px;
	width: 68px;
	background: url(../images/site-graphics/sparkly-bits.png) no-repeat;
}

div#easteregg-btn:hover {
	cursor: pointer;
	background: url(../images/site-graphics/sparkly-bits-hover.png);
}

#revealer a, #revealer a:visited {
	color: #fff;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	background: url(../images/site-graphics/contact-btn.png) no-repeat right top;
	padding-right: 25px;
	line-height: 25px;
	height: 25px;
}

#revealer a:hover {
	color: #4f6320;
	background: url(../images/site-graphics/contact-btn.png) no-repeat right -21px;
}

#revealer a:active, #revealer a:focus {
	position: relative;
	top: 1px;
	color: #e6e6e6;
}

div.smlink {
	width: 90px;
	height: 25px;
	position: relative;
	text-align: center;
	width: 100%;
	cursor: pointer;
}

div.smlink a{
	width: 120px;
	height: 25px;
	text-align: center;
	text-indent: -9999px;
	position: absolute;
	top: 0;
	left: 0;
}

li#flickr-box div.smlink:hover, li#wp-box div.smlink:hover, li#linkedin-box div.smlink:hover, li#facebook-box div.smlink:hover, li#twitter-box div.smlink:hover  {
	background-position: top;
}

img#asterisk:hover {
	cursor: pointer;
}

/* @end */

/* @group Navigation */

div#contactbtn {
	width: 820px;
	height: 36px;
	position: relative;
	float: left;
	border-left: 8px solid #000;
	border-right: 8px solid #000;
	background-color: #fff;
	background: url(../images/site-graphics/lolly-green-top.png) no-repeat center bottom;
}

div#revealer {
	position: absolute;
	float: left;
	right: 90px;
	bottom: 0;
	text-align: center;
	color: #fff;
	font: italic 14px/18px Georgia, "Times New Roman", Times, serif;
	z-index: 0;
	width: 100px;
}

div#revealer:hover {
	color: #ccc;
	cursor: pointer;
}

li#flickr-box div.smlink {
	background: url(/images/site-graphics/btn-sm-flickr.png)  center -30px  no-repeat;
}

li#flickr-box div.smlink a{
	width: 100px;
	height: 20px;
	
}

li#wp-box div.smlink {
	background: url(/images/site-graphics/btn-sm-wp.png)  center -30px  no-repeat;
}

li#linkedin-box div.smlink {
	background: url(/images/site-graphics/btn-sm-linkedin.png)  center -30px  no-repeat;
}

li#facebook-box div.smlink {
	background: url(/images/site-graphics/btn-sm-facebook.png) center -30px no-repeat;
}

li#twitter-box div.smlink {
	background: url(/images/site-graphics/btn-sm-twitter.png) center -30px no-repeat;
}

/* @end */

/* @group Lists */

section#featured ul {
	list-style: none;
}

section#featured ul li {
	float: left;
	width: 100px;
}

section#featured ul li h2 {
	text-align: center;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", georgia, serif;
	font-size: 12px;
	font-style: italic;
	color: #5d4c40;
	margin-bottom: 15px;
}

section#featured ul li#flickr-box {
	position: absolute;
	top: 20px;
	left: 100px;
}

section#featured ul li#wp-box {
	position: absolute;
	top: 20px;
	left: 231px;
}

section#featured ul li#linkedin-box {
	position: absolute;
	top: 20px;
	left: 362px;
}

section#featured ul li#facebook-box {
	position: absolute;
	top: 20px;
	left: 493px;
}

section#featured ul li#twitter-box {
	position: absolute;
	top: 20px;
	left: 623px;
}

ol#posts-list.hfeed.coda-slider-wrapper {
	margin: 0;
	padding: 0;
	list-style: none;
}

#posts-list li {
	width: 820px;
	float: left;
}

ul.cs_gallery {
	float: left;
	margin: 0;
	width: 100%;
}

.cs_gallery li {
	float: left;
	text-align: center;
	list-style: none;
	width: 158px;
	margin-right: 0;
	padding: 8px 0 6px;
}

.cs_gallery li#end {
	margin-right: 0;
}

.cs_gallery li img {
	border: 3px solid #ccc;
}

.cs_gallery li img:hover {
	border: 3px solid #b3c624;
}

.cs_gallery li.cs_link:hover {
	background-color: #e0e8a5;
	cursor: pointer;
}


/* @end */

/* @group Typography */

h1 {
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", georgia, serif;
	font-size: 32px;
	line-height: 1em;
	color: #e10073;
	margin: 0 0 1em;
}

h2 {
	font-family: "deva-ideal-1","deva-ideal-2", helvetica, arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
}

h4.caption, h3#cs_title {
	font-family: georgia, serif;
	font-style: italic;
	font-weight: normal;
	font-size: 12px;
	line-height: 24px;
	color: #4c4646;
	text-align: center;
}

#cs_img_footer h4.caption {
	width: 615px;
}

.cs_gallery li h2 {
	color: #000000;
	font-size: 0.8em;
	line-height: 1.3em;
	padding: 0 10px;
}

p, div#info.vcard span, #info div {
	font-family: "deva-ideal-1","deva-ideal-2", helvetica, arial, sans-serif;
	font-size: 13px;
	line-height: 16px;
}

#calltoaction p:first-child {
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 0.5em;
	color: #fff;
}

span.type {
	display: none;
}

span.value, span.postal-code {
	padding-right: 0.5em;
}

#contact div.info p {
	margin-bottom: 0.5em;
}

#posts-list li div.panel-container article.hentry.panel div.entry-content p {
	font-family: "deva-ideal-1","deva-ideal-2", helvetica, arial, sans-serif;
	font-size: 24px;
	line-height: 1.167em;
	margin-bottom: 1em;
}

#success h1 {
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", georgia, serif;
	font-size: 24px;
	line-height: 24px;
	color: #5d4c40;
}

/* @end */

/* @group Forms */

div#formholder {
	float: left;
}

input.noborder {
	outline: none;
}

label {
	float: left;
}

label span {
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2",serif;
	font-size: 12px;
	line-height: 30px;
	color: #4f591f;
	text-transform: uppercase;
	float: left;
}

#formholder label {
	width: 300px;
	margin-bottom: 8px;
}

#newsletter fieldset label {
	float: right;
}

div#mailinglist {
	float: right;
	width: 220px;
}

label input, label textarea {
	float: right;
	margin-left: 8px;
	outline: none;
}

label input {
	width: 160px;
}

label textarea {
	width: 200px;
	height: 100px;
}

#signup-container label {
	position: relative;
	overflow: hidden;
	float: right;
	width: 290px;
	background-color: #4f5920;
	border: 2px solid #222221;
}

fieldset#signup-container {
	float: right;
	width: 300px;
}

fieldset#signup {
	position: relative;
}

fieldset#person, fieldset#comments {
	float: left;
	width: 320px;
	overflow: hidden;
}

div#toprow {
	float: left;
	margin-top: 20px;
}

fieldset#business {
	float: right;
	width: 300px;
}

div#bottomrow {
	position: relative;
	float: left;
	padding-top: 10px;
}

#bottomrow fieldset.button {
	position: absolute;
	bottom: 0;
	right: 0;
}

input#signup {
	width: 10px;
	position: absolute;
	top: 35%;
	right: 20px;
	outline: none;
}

#signup-container label span {
	font-family: "deva-ideal-1","deva-ideal-2", helvetica, arial, sans-serif;
	font-style: italic;
	text-transform: none;
	color: #fff;
	padding: 10px 40px 10px 15px;
	margin: 0;
	float: left;
	line-height: 16px;
}

div.mce_inline_error, span.error, div#mce-error-response.response {
	float: right;
	color: #fff;
	margin-top: 10px;
	padding: 3px 5px;
	font: 12px/16px Helvetica, Arial, sans-serif;
	background-color: #e10073;
	text-transform: none;
}

div#mce-error-response.response {
	width: 160px;
}

span.error {
	border-color: #d8376c;
}

.inputerror {
	border: 2px solid #e41d8c;
}

input#mce-EMAIL.required.email.mce_inline_error {
	border: 2px solid #bd1b52;
}

div#mce-success-response.response {
	float: right;
	color: #000;
	background-color: #dce49a;
	font: 12px/16px Helvetica, Arial, sans-serif;
	margin-top: 10px;
	padding: 10px;
}

div#mce-success-response.response {
	width: 160px;
}

div#success {
	background-color: #dce49a;
	padding: 10px;
	color: #4f591f;
}

div#response.mccallback {
	margin-top: 10px;
	background-color: #e10073;
	padding: 10px;
	color: #fff;
}

div#bottomrow input#mainformsubmit, div#mailinglist input#submit {
	float: right;
	margin-top: 10px;
	background-color: #e10073;
	border: 2px solid #818f1e;
	padding: 3px 15px;
	font: 12px/16px Helvetica, Arial, sans-serif;
	color: #fff;
	cursor: pointer;
	width: 120px;
	outline: none;
}

/* @end */

/* @group Slider */

/* Insignificant stuff, for demo purposes */

body {
	padding: 20px
}

.panel h2.title {
	margin-bottom: 10px
}

noscript div {
	background: #ccc;
	border: 1px solid #900;
	margin: 20px 0;
	padding: 15px
}

/* Most common stuff you'll need to change */

/* Use this to keep the slider content contained in a box even when JavaScript is disabled */

.coda-slider-no-js .coda-slider {
	height: 200px;
	overflow: auto !important;
	padding-right: 20px
}

/* Change the width of the entire slider (without dynamic arrows) */

.coda-slider, .coda-slider .panel {
	float: left;
}

/* Change margin and width of the slider (with dynamic arrows) */

.coda-slider-wrapper.arrows .coda-slider {
	margin: 0 10px
}

/* Arrow styling */

/* Tab nav */

/* Panel padding */

.coda-slider .panel-wrapper {
	padding: 20px
}

/* Preloader */

.coda-slider p.loading {
	padding: 20px;
	text-align: center
}

/* Don't change anything below here unless you know what you're doing */

/* Tabbed nav */

.coda-nav ul {
	clear: both;
	float: left;
	margin: auto;
	width: 100%;
	overflow: hidden;
	height: 51px;
	background-color: #fff;
}

#coda-nav-1 {
	float: left;
	margin: 30px 0;
}

.coda-nav ul li {
	display: inline;
	list-style: none;
	border-bottom: #ccc 3px solid;
	font: 24px/36px Georgia, "Times New Roman", Times, serif;
	padding: 0;
	margin: 0;
	background-color: #fff;
}

.coda-nav ul li a,  
.coda-nav ul li a:visited {
	color: #000;
	display: block;
	float: left;
	padding: 3px 0.15em;
	text-decoration: none;
	font: 34px/42px Georgia, "Times New Roman", Times, serif;
	border-bottom: 3px solid #e6e6e6;
	outline: none;
}

.coda-nav ul li a:hover {
	color: #4c4646;
}

.coda-nav ul li a:active, .coda-nav ul li a:focus {
	position: static;
}

.coda-nav ul li a.current, .coda-nav ul li a.current:visited {
	border-bottom: 3px solid #b3c624;
	background: url("/images/site-graphics/pointer.png") center bottom no-repeat;
	outline: none;
}

/* Miscellaneous */

.coda-slider-wrapper {
	clear: both;
	overflow: hidden;
}

.coda-slider {
	float: left;
	overflow: hidden;
	position: relative;
	width: 820px
}

div.entry-header {
	display: block;
	background: #e10073 url(../images/site-graphics/lolly-bottom-pink.png) no-repeat center bottom;
	padding-bottom: 30px;
}

img.asterisk {
	cursor: pointer;
}

#posts-list li div.panel-container article.hentry.panel div.entry-header {
	text-align: center;
}

.coda-slider .panel {
	display: block;
	float: left;
}

article.hentry.panel {
	width: 820px;
}

div.entry-content {
	margin-left: 100px;
	padding-top: 40px;
	margin-bottom: 60px;
	width: 600px;
}

.coda-slider .panel-container {
	position: relative;
}

.coda-nav-left a, .coda-nav-right a {
	color: #fff;
	width: 30px;
	height: 30px;
	display: block;
	text-align: center;
}

div#coda-nav-left-1.coda-nav-left {
	position: absolute;
	top: 300px;
	left: 30px;
	background: url(../images/site-graphics/nav-left.png) no-repeat;
	width: 30px;
	height: 30px;
	z-index: 1000;
}

div#coda-nav-right-1.coda-nav-right {
	position: absolute;
	top: 300px;
	left: 760px;
	background: url(../images/site-graphics/nav-right.png) no-repeat top;
	z-index: 1000;
	width: 30px;
	height: 30px;
}

div#coda-nav-left-1.coda-nav-left:hover,  div#coda-nav-right-1.coda-nav-right:hover {
	background-position: bottom;
}

.coda-nav-left, .coda-nav-right {
	float: left
}

/*

 @end */

/* @group Case studies */


div#cs_wrapper {
	border: none;
	width: 660px;
	overflow: hidden;
	border: 3px solid #cccccc;
	background-color: #ffffff;
	padding-bottom: 0;
}

#branding_bottom img {
	margin-top: 90px;
}

div#casestudy_container {
	overflow: hidden;
	padding: 15px 22px;
}

section#content.single_cs, section#content.single_cs article {
	float: left;
}

a.cboxElement {
	float: left;
	margin-left: 9px;
}

div#close_btn {
	float: right;
	width: 18px;
	height: 18px;
	background-image: url(/images/site-graphics/cs_close_btn.gif);
	text-indent: -9999em;
}

div#close_btn:hover {
	background: url(/images/site-graphics/cs_close_btn.gif) 0 20px;
	cursor: pointer;
}

div#cs_copy {
	width: 310px;
	float: left;
	margin-right: 10px;
}

div#cs_img_footer.cs_img {
	clear: left;
	margin-top: 10px;
	float: left;
}

div#next {
	clear: left;
	float: right;
	text-align: right;
	margin: 10px 0;
}

caption {
	display: block;
	float: left;
}

div#cs_img_hero {
	width: 295px;
	float: left;
}

#cs_copy p {
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 10px;
}

.cs_img img {
	border: 3px solid #cccccc;
}

#banner h1 {
	margin-bottom: 1em;
}

h3#cs_title {
	margin-bottom: 10px;
	text-align: left;
}

/* @end */

/* @group Webkit & Mozilla CSS3 */

#signup-container label, #success, #response {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

fieldset input[type="text"], fieldset textarea {
	padding: 5px 5px;
	border: 2px solid #818f1e;
	font: inherit Helvetica, Arial, sans-serif;
	color: #4c4646;
	outline: none;
}

div#mailinglist fieldset input[type="text"] {
	padding: 5px 5px;
	border: 2px solid #9dad23;
	font: inherit Helvetica, Arial, sans-serif;
	color: #4c4646;
	outline: none;
}

fieldset input[type="text"]:hover, 
textarea:hover {
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.8);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.8);
	-webkit-transition: all .2s ease-in;
	
}

fieldset input[type="submit"]:hover {
	-moz-box-shadow: 0px 2px 30px rgba(253,235,67,.9);
	-webkit-box-shadow: 0px 2px 30px rgba(253,235,67,.9);
	-webkit-transition: all .1s ease-in;
}

/* @end */